<script type="text/javascript" src="/assets/main.70a66962.js"></script>

<footer class="footer-container text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p>{{copyright}}</p>
      </div>
    </div>
  </div>
</footer>