<!DOCTYPE html>
<html lang="en">
  {{> head }}
  <body class="minimal">
    {{> header }}

    <div
      class="hero-full-container background-image-container white-text-container"
      style="background-image: url('{{backgroundImage}}')"
    >
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="hero-full-wrapper">
              <div class="text-content">
                {{#with typingText}}
                  <h1>{{title}}<br>
                    <span id="typed-strings">
                      {{#each items}}
                        <span>{{.}}</span>
                      {{/each}}
                    </span>
                    <span id="typed"></span>
                  </h1>
                {{/with}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {{#with sections}}
      <div class="section-container">
        <div class="container">
          {{> sections . }}
        </div>
      </div>
    {{/with}}

    <script>
      document.addEventListener("DOMContentLoaded", function (event) {
        type();
        movingBackgroundImage();
      });
    </script>

    {{> footer footer }}
  </body>
</html>