<!DOCTYPE html>
<html lang="en">
{{> head }}

<body>
  <div id="site-border-left"></div>
  <div id="site-border-right"></div>
  <div id="site-border-top"></div>
  <div id="site-border-bottom"></div>

  {{> header }}

  <div class="section-container">
    <div class="container">
      {{> sections sections=sections page=.}}
    </div>
  </div>

  <script>
    document.addEventListener("DOMContentLoaded", function (event) {
      navActivePage();
    });
  </script>

  {{> footer footer }}
</body>

</html>