<!DOCTYPE html>
<html lang="en">
{{> head }}

<body>
  <div id="site-border-left"></div>
  <div id="site-border-right"></div>
  <div id="site-border-top"></div>
  <div id="site-border-bottom"></div>

  {{> header }}

  <div class="section-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          {{#with card}}
            <img src="{{backgroundImage}}" class="img-responsive" alt="">
            <div class="card-container">
              <div class="text-center">
                <h1 class="h2">{{title}}</h1>
              </div>
              {{{description}}}
            </div>
          {{/with}}
        </div>
      </div>
      
      {{> sections sections }}
    </div>
  </div>

  <script>
    document.addEventListener("DOMContentLoaded", function (event) {
      navActivePage();
    });
  </script>

  {{> footer footer }}
</body>

</html>